<div>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle style="font-size: xx-large">Kota</mat-card-subtitle>&nbsp;
      <!-- <mat-card-title style="font-size: xx-small;">*Page for edit data on database</mat-card-title> -->
      <button mat-raised-button (click)="createCity()" color="primary" >Tambah</button> 
    </mat-card-header>
    <mat-card-content>
        <!-- <br>
        <button mat-raised-button (click)="createCity()" color="primary" >Tambah</button> 
        <form (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <label for="name" style="font-weight: lighter;">Add Your City Name</label>
                <td><mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. DKI Jakarta" class="form-control" id = "city_name"
                    [(ngModel)] = "city.cityName" name ="city_name" style="color: black;">
                  </mat-form-field></td>
                  <td></td>
                <td>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" type="submit" style="height: 45px;margin-bottom: 10%;">ADD CITY</button>
                </td>
            </div>
        </form>
      <mat-divider></mat-divider> -->
    </mat-card-content>
  </mat-card>
</div>
<br>
<div>
    <mat-form-field>
        <mat-label>Cari</mat-label>
        <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Nama Kota atau ID" #input > -->
        <input matInput (keyup)="applyFilter($event)" #input >
    </mat-form-field>

    <table mat-table #table [dataSource]="cityData" matSort>

        <ng-container matColumnDef="city_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="city_id"> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.cityCode}} </td>
        </ng-container>
      
        <ng-container matColumnDef="city_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="city_name"> Kota </th>
          <td mat-cell *matCellDef="let row"> {{row.cityName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Aksi </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="updateCity(row.cityCode)" color="primary" >Ubah</button>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="deleteCity(row.cityCode)" color="warn" >Hapus</button> 
            </td>
          </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="cityColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: cityColumns;"></tr>
      </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      aria-label="to the next city">
    </mat-paginator>
</div>