


    <br>
    <body>
        <img src="assets/category.png" class="fix"/>
        <img src="assets/wave.png" class="wave"/>
        <h2>Ubah Kategori Jasa</h2>
        <br>
        <form (ngSubmit) = "onUpdate()">

            <div class="inputBox">
                <label style="font-weight:bolder; color: rgb(50, 69, 209);">ID</label>
                <input type="text" class="form-control" id = "id"
                [(ngModel)] = "merchantCat.categoryId" name ="id" required="required" disabled="disabled">
            </div>
            <br><br>
            <div class="inputBox">
                <input type="text" class="form-control" id = "category_name"
                [(ngModel)] = "merchantCat.categoryName" name ="category_name" required="required">
                <Span>Kategori Jasa</Span>
            </div>
        <br><br>
            <button class="btn btn-success" type="submit" style="align-items: center;">Simpan</button>
            <!-- <button class="btn btn-secondary" type="button" style="align-items: center;">Kembali</button> -->
        </form>
    </body>

