*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    
}


.inputBox{
    position: relative;
    width: 250px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background:  rgb(50, 69, 209);
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
}


.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: whitesmoke;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: rgb(50, 69, 209);
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span
.inputBox:nth-child(2) input:focus ~ span
{
 background: gray;
 color: rgb(50, 69, 209);
}

.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid gray;
}

button{
    display: flex;
    justify-content: top;
    align-items: center;
    left: 20px;
    padding: 10px;
    font-size: 1em;
    background-color: rgb(53, 189, 130);
    color: white;
    border-radius: 5px;
    border-color: white;
    float: left;
    cursor: pointer;
}

.btn-success{
    background-color: rgb(53, 189, 130);
}

.btn-back{
    background-color: #aaa;
}

.fix{
    position:fixed;
    bottom:0px;
    left:50%;
}

.wave{
	position: fixed;
	bottom: 40px;
	left: 0;
	height: 50%;
}
