<body>
    <img src="assets/province.png" class="fix"/>
    <img src="assets/wave.png" class="wave"/>
    <h2>Tambah Provinsi</h2>
    <br>
    <form action="" (ngSubmit) = "onCreate()">
        <div class="inputBox">
            <!-- <label style="font-weight:bolder; color: rgb(50, 69, 209);">ID</label> -->
            <input type="text" class="form-control" id = "id"
            [(ngModel)] = "province.provinceCode" name ="id" required/>
            <span for="id">ID</span>
        </div>
    <br><br>
        <div class="inputBox">
            <input type="text" class="form-control" id = "province_name"
            [(ngModel)] = "province.provinceName" name ="province_name" required/>
            <span for="province_name">Provinsi</span>
        </div>
    <br>
        <button class="btn btn-success" type="submit">Simpan</button>
        <a routerLink="../"><button class="btn btn-back">Kembali</button></a>
    </form>
</body>