<div>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle style="font-size: xx-large">Penyedia Jasa</mat-card-subtitle>&nbsp;
      <!-- <mat-card-title style="font-size: xx-small;">*Page for edit data on database</mat-card-title> -->
      <!-- <button mat-raised-button (click)="createMerchant()" color="primary" >Tambah</button>  -->
    </mat-card-header>
    <mat-card-content>
        <!-- <br>
        <button mat-raised-button (click)="createMerchant()" color="primary" >Tambah</button> 
        <form (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <label for="name" style="font-weight: lighter;">Add Your Merchant Name</label>
                <td><mat-form-field>
                    <mat-label>Merchant</mat-label>
                    <input matInput placeholder="Ex. DKI Jakarta" class="form-control" id = "merchant_name"
                    [(ngModel)] = "merchant.merchantName" name ="merchant_name" style="color: black;">
                  </mat-form-field></td>
                  <td></td>
                <td>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="primary" type="submit" style="height: 45px;margin-bottom: 10%;">ADD CITY</button>
                </td>
            </div>
        </form>
      <mat-divider></mat-divider> -->
    </mat-card-content>
  </mat-card>
</div>
<br>
<div>
    <mat-form-field>
        <mat-label>Cari</mat-label>
        <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Merchant Name or ID" #input > -->
        <input matInput (keyup)="applyFilter($event)" #input >
    </mat-form-field>
    <div class="table-responsive">
      <table mat-table #table [dataSource]="merchantData" matSort>

          <ng-container matColumnDef="merchant_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_id"> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.merchantId}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_name"> Nama </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_address"> Alamat </th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_province">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_province"> Provinsi </th>
            <td mat-cell *matCellDef="let row"> {{row.province.provinceName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_city"> Kota </th>
            <td mat-cell *matCellDef="let row"> {{row.city.cityName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_email"> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
        
          <ng-container matColumnDef="merchant_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="merchant_number"> No Telepon </th>
            <td mat-cell *matCellDef="let row"> {{row.number}} </td>
          </ng-container>
        
          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="rating"> Penilaian </th>
            <td mat-cell *matCellDef="let row"> {{row.rating}} </td>
          </ng-container>
        
          <ng-container matColumnDef="rating_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="rating_count"> Jumlah Penilaian </th>
            <td mat-cell *matCellDef="let row"> {{row.ratingCount}} </td>
          </ng-container>
        
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="description"> Deskripsi </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{row.status}}</td>
          </ng-container>

          <ng-container matColumnDef="created_by">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="created_by">Dibuat Oleh</th>
            <td mat-cell *matCellDef="let row">{{row.createdBy}}</td>
          </ng-container>

          <ng-container matColumnDef="created_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="created_on">Dibuat Pada</th>
              <td mat-cell *matCellDef="let row">{{row.createdOn}}</td>
          </ng-container>

          <ng-container matColumnDef="edited_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="edited_by">Diubah Oleh</th>
              <td mat-cell *matCellDef="let row">{{row.editedBy}}</td>
          </ng-container>

          <ng-container matColumnDef="edited_on">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="edited_on">Diubah Pada</th>
              <td mat-cell *matCellDef="let row">{{row.editedOn}}</td>
          </ng-container>

          <ng-container matColumnDef="last_login">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="last_login">Terakhir Login</th>
              <td mat-cell *matCellDef="let row">{{row.lastLogin}}</td>
          </ng-container>
        
          <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Aksi </th>
              <td mat-cell *matCellDef="let row"> 
                  <!-- <button mat-raised-button (click)="updateMerchant(row.merchantId)" color="primary" >Ubah</button>&nbsp;&nbsp;&nbsp; -->
                  <!-- <button mat-raised-button (click)="deleteMerchant(row.merchantId)" color="warn" >Hapus</button>  -->
                  <button *ngIf="row.status!='suspended'" mat-raised-button (click)="updateMerchantStatus(row.merchantId, 'suspended')" color="warn" >Non Aktifkan</button> 
                  <button *ngIf="row.status=='suspended'" mat-raised-button (click)="updateMerchantStatus(row.merchantId, 'unsuspended')" color="primary" >Aktifkan</button> 
              </td>
            </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="merchantColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: merchantColumns;"></tr>
        </table>
    </div>  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      aria-label="to the next merchant">
    </mat-paginator>
</div>