<h1>Company Data</h1>

<mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Input Company Data" (keyup)="applyFilter($event)">
  </mat-form-field>

<div>
    <button mat-raised-button color="primary" routerLink="create-company" routerLinkActive="active">Create Company</button>
</div>  

<div>
    <table mat-table [dataSource]="companyData" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Email</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let row">{{row.address}}</td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let row">{{row.city}}</td>
        </ng-container>

        <ng-container matColumnDef="province">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Province</th>
            <td mat-cell *matCellDef="let row">{{row.province}}</td>
        </ng-container>

        <ng-container matColumnDef="merchant_categories">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Merchant Categories</th>
            <td mat-cell *matCellDef="let row" >{{row.merchant_categories}}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let row">{{row.phone}}</td>
        </ng-container>
        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row"> 
                <button mat-raised-button (click)="updateCompany(row.id)" color="primary" >Update</button>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="deleteCompany(row.id)" color="warn" >Delete</button> 
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="companyColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:companyColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 aria-label="to the next company">
    </mat-paginator>
</div>