<div>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle style="font-size: xx-large">Kategori Jasa</mat-card-subtitle>
          <!-- <mat-card-title style="font-size: xx-small;">*Page for edit category on database</mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
            <br>
            <form (ngSubmit) = "onSubmit()">
                <div class="form-group">
                    <label for="name" style="font-weight: lighter;">Tambah Kategori Jasa</label>
                    <td>
                      <mat-form-field>
                        <mat-label>Kategori Jasa</mat-label>
                        <input matInput placeholder="Contoh: Servis AC" class="form-control" id = "category_name"
                        [(ngModel)] = "merchantCat.categoryName" name ="category_name" style="color: black;">
                      </mat-form-field></td>
                      <td></td>
                    <td>&nbsp;&nbsp;&nbsp;
                        <button mat-raised-button color="primary" type="submit" style="height: 45px;margin-bottom: 10%;">Tambah</button>
                    </td>
                </div>
            </form>
          <mat-divider></mat-divider>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <div>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="City Name or ID" #input >
        </mat-form-field>
    
        <table mat-table [dataSource]="merchantCatData" matSort>
    
            <ng-container matColumnDef="category_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="category_id"> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.categoryId}} </td>
            </ng-container>
          
            <ng-container matColumnDef="category_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="category_name"> Kategori Jasa </th>
              <td mat-cell *matCellDef="let row"> {{row.categoryName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-raised-button (click)="updateCategory(row.categoryId)" color="primary" >Ubah</button>&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button (click)="deleteCategory(row.categoryId)" color="warn" >Hapus</button> 
                </td>
              </ng-container>
    
          
            <tr mat-header-row *matHeaderRowDef="merchantCatCol"></tr>
            <tr mat-row *matRowDef="let row; columns: merchantCatCol;"></tr>
          </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          aria-label="to the next city">
        </mat-paginator>
    </div>