<h1>Promotion Upload</h1>


<div class="row">
    <div class="col-8">
      <label class="btn btn-default p-0">
        <input type="file" accept="image/*" (change)="selectFile($event)" style="color: royalblue;"/>
      </label>
    </div>

    <div>
      <img [src]="preview" class="preview">
      <h6>*your preview foto will show here</h6>
    </div>

<div class="row">
</div>
<div class="row" [formGroup]="formController">

  <div>  <mat-form-field appearance="fill">
    <mat-label>deskripsi promosi</mat-label>
    <input matInput formControlName="description">
    </mat-form-field></div>
  <mat-form-field appearance="fill" >
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Start date">
      <input matEndDate formControlName="endDate" placeholder="End date">
    </mat-date-range-input>


    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="formController.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="formController.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</div>

    <div class="col-4">
      <button mat-raised-button color="primary"
        class="btn btn-success btn-sm float-right"
        [disabled]="!selectedFiles"
        (click)="upload()"
      >
        Upload
      </button>
    </div>

    <!-- <form (ngSubmit)="upload()" [formGroup]="form">
      <input ng-model="file_upload" name="file" type="file" (change)="fileChange($event)" #fileInput>
      <button type="submit">Submit</button>
  </form> -->
