<body>
    <img src="assets/province.png" class="fix"/>
    <img src="assets/wave.png" class="wave"/>
    <h2>Ubah Provinsi</h2>
    <br>
    <form (ngSubmit) = "onUpdate()">
        <div class="inputBox">
            <label style="font-weight:bolder; color: rgb(50, 69, 209);">ID</label>
            <input type="text" class="form-control" id = "id"
            [(ngModel)] = "province.provinceCode" name ="id" required="required" disabled="disabled">
        </div>
    <br><br>
        <div class="inputBox">
            <input type="text" class="form-control" id = "province_name"
            [(ngModel)] = "province.provinceName" name ="province_name" required="required">
            <span for="province_name">Provinsi</span>
        </div>
    <br>
        <button class="btn btn-success" type="submit">Submit</button>
        <a routerLink="../../"><button class="btn btn-back">Kembali</button></a>
    </form>
</body>